/**
 * A global CSS style file. Place general, theme-agnostic styles here. If in doubt, you *probably* shouldn't be
 * putting the style in here.
 *
 * This file:
 * - Includes normalize.css to give us a sane cross-browser setup for styling
 * - Adds Roboto font as default font
 */

@import '~normalize.css';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

pre, tt, code {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

pre {
    white-space: pre-wrap;
}

body {
    background: var(--background);
    color: var(--foreground);
}

a, a:visited {
    color: var(--primary);
}

table {
    width: 100%;
    padding: 1rem;
    background-color: var(--table-background);
}

td {
    text-align: left;
    padding: .5rem;
}